:root{
    --background:rgb(225, 237, 245);
    --background1:#437692;
    --darkOne: rgb(12, 2, 2);
    --darkTwo:#3f3939;
    --lightOne: rgb(143, 134, 134);
    --button: rgb(216, 34, 34);
    --hover: #363d41;
    --white:#ffffff;
    --background2:rgb(236, 235, 235);

}
*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
#big-wrapper{
    padding: 20px 0 70px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    max-width: 81rem;
    margin: 0 auto;
    padding: 20px;
    z-index: 10;
    position: relative;
    background-color: var(--background);
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title{
    color: var(--darkOne);
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    font-weight: 100;
}
   
.links a:hover{
    color: var(--hover);
    transform: scale(1.05);
    transition: 0.3s;
    
}
    
.links ul{
    display:flex;
    list-style: none;
    align-items: center;
}

.links a{
    color:var(--darkOne);
    margin-left: 4.5rem;
    display: inline-block;
}
.showcaseArea
{
    background-image: url(./images/image7.jpg);
    background-size: 100% 100%;
    height: 600px;
}
.showcaseArea .left h1{
    font-size:1.8rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
    min-width: 600px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing:1.4px;
    margin-top: 50px;
    text-align:center;
    padding-left: 400px;
}
.showcaseArea .left p{
    color:var(--darkTwo);
    font-size: 1.1rem;
    max-width: 600px;
    line-height: 2.3;
    text-align: center;
    padding-left: 400px;

}
.showcaseArea .left .btn{
background-color: var(--button);
color:var(--white);
font-weight: 600;
border-radius: 10px;
padding: 12px;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
margin: 70px 0 0 70px;
}

.bar{
    border:1px solid var(--white);
    padding: 15px;
    background-color: var(--background1);
    
    

}
.bar p{
    font-size: 2.5rem;
    font-weight: 900;
    color:var(--white);
    text-align: center;
}
.blogArea{
    background-color: var(--background2)
}
.blog{
    text-align: center;
    max-width: 81rem;
    margin:50px auto;
    padding: 0 50px;
    z-index: 10;
    
}


.blogArea .blog h1{
    font-size: 2.5rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
    padding: 30px 0;

}

.blogArea .blog .btn{
    background-color: var(--button);
    color:var(--white);
    font-weight: 600;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    
}
.emailArea{
    background-color: black;
}
    
 .emailArea .email{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 81rem;
    margin: 50px auto;
    z-index: 10;
    position: relative;
}
.emailArea .email h1{
    font-size: 2.5rem;
    font-weight:600;
    transform: capitalize;
    letter-spacing: 2px;
    margin-top:20px;
    margin-bottom: 20px;
}
.emailArea.email p{
    font-weight: 200;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}
.emailArea .email form{
    margin-top: 30px;
    padding:0 10px;
    width: 40%;
    background-color: black;
    display: flex;
}
.emailArea .email #email{
    position: relative;
    width: 100%;
    font-size:1.2rem;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    resize: none;
}
.emailArea .email #submit{
    background-color: var(--darkTwo);
    padding: 5px 20px;
    margin-top: 20px;
    color:var(--white);
    font-size: 1.2rem;
    margin: auto 10px;
}
.footer{
    display: flex;
    justify-content:space-around;
    font-size: 0.9rem;
    line-height: 50px;
    margin-top: 20px;
    font-weight: 100;
    color:black;
    list-style: none;
}
footer .category ul{
    color:black;
    list-style: none
}